glassfish/client/src/wsdl/localhost_8080/Billing/BillingService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://endpoint.ex1.ws.asw.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://endpoint.ex1.ws.asw.com/" name="BillingService">
<types>
<xsd:schema>
<xsd:import namespace="http://endpoint.ex1.ws.asw.com/" schemaLocation="http://localhost:8080/Billing/BillingService?xsd=1"/>
</xsd:schema>
</types>
<message name="processOperation">
<part name="parameters" element="tns:processOperation"/>
</message>
<message name="processOperationResponse">
<part name="parameters" element="tns:processOperationResponse"/>
</message>
<message name="addMoney">
<part name="parameters" element="tns:addMoney"/>
</message>
<message name="addMoneyResponse">
<part name="parameters" element="tns:addMoneyResponse"/>
</message>
<message name="getCard">
<part name="parameters" element="tns:getCard"/>
</message>
<message name="getCardResponse">
<part name="parameters" element="tns:getCardResponse"/>
</message>
<message name="addNewCard">
<part name="parameters" element="tns:addNewCard"/>
</message>
<message name="addNewCardResponse">
<part name="parameters" element="tns:addNewCardResponse"/>
</message>
<portType name="Billing">
<operation name="processOperation">
<input wsam:Action="http://endpoint.ex1.ws.asw.com/Billing/processOperationRequest" message="tns:processOperation"/>
<output wsam:Action="http://endpoint.ex1.ws.asw.com/Billing/processOperationResponse" message="tns:processOperationResponse"/>
</operation>
<operation name="addMoney">
<input wsam:Action="http://endpoint.ex1.ws.asw.com/Billing/addMoneyRequest" message="tns:addMoney"/>
<output wsam:Action="http://endpoint.ex1.ws.asw.com/Billing/addMoneyResponse" message="tns:addMoneyResponse"/>
</operation>
<operation name="getCard">
<input wsam:Action="http://endpoint.ex1.ws.asw.com/Billing/getCardRequest" message="tns:getCard"/>
<output wsam:Action="http://endpoint.ex1.ws.asw.com/Billing/getCardResponse" message="tns:getCardResponse"/>
</operation>
<operation name="addNewCard">
<input wsam:Action="http://endpoint.ex1.ws.asw.com/Billing/addNewCardRequest" message="tns:addNewCard"/>
<output wsam:Action="http://endpoint.ex1.ws.asw.com/Billing/addNewCardResponse" message="tns:addNewCardResponse"/>
</operation>
</portType>
<binding name="BillingPortBinding" type="tns:Billing">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="processOperation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addMoney">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCard">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNewCard">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BillingService">
<port name="BillingPort" binding="tns:BillingPortBinding">
<soap:address location="http://localhost:8080/Billing/BillingService"/>
</port>
</service>
</definitions>